POSTGRES_USER=dev_user
POSTGRES_PASSWORD=super_secure_dev_password
POSTGRES_DB=fullstack_db
POSTGRES_LOCAL_PORT=5432
POSTGRES_DOCKER_PORT=5432

DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=fullstack_db
BACKEND_PORT=8080

RABBITMQ_USER=kacper
RABBITMQ_PASS=super_secure_rabbitmq_password
RABBITMQ_IN_QUEUE_AGENT=job_request_queue
RABBITMQ_OUT_QUEUE_AGENT=code_review_queue
RABBITMQ_IN_QUEUE_SANDBOX=code_execution_queue
RABBITMQ_OUT_QUEUE_SANDBOX=job_results_queue

AGENT_SERVICE_PORT=3721
SANDBOX_SERVICE_PORT=2137

FRONTEND_PORT=3000